body {
  background-color: #f2e9e4;
}

.center {
  text-align: center;
  padding: 15px;
}

img {
  border-radius: 25px;
}

.box {
  text-align: left;
  font-size: 20px;
  line-height: 20px;
  width: 100%;
  padding: 10px;
  border: solid #9A8C98;
  border-width: 2px;
  background-color: #C9ADA7;
  margin-bottom: 10px;
  box-sizing: border-box;
}