body {
  background-color: #f1faee;
}

.span {
  color: #e63946;
}

.center {
  text-align: center;
  padding: 15px;
}

img {
  border-radius: 25px;
  border: solid #1d3557;
}

.box {
  text-align: left;
  font-size: 20px;
  line-height: 20px;
  width: 100%;
  padding: 10px;
  border: solid #1d3557;
  border-width: 2px;
  background-color: #a8dadc;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.hobby {
  padding: 10px;
  border: solid #1d3557;
  width: 45%;
  float: left;
  background-color: #a8dadc;
}

.interests {
  padding: 10px;
  border: solid #1d3557;
  width: 45%;
  float: right;
  background-color: #a8dadc;
}